@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Hiragino;
  src: url("/hiragino-kaku-gothic-std-w8.otf") format("opentype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.font-hira {
  font-family: "Hiragino";
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-underline {
  background-size: 0% 2px;
}

.hover-underline:hover {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.438));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease 0s;
  background-size: 100% 2px;
}

.photogram > #title {
  opacity: 0;
}
.photogram:hover > #title {
  opacity: 1;
}
