@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Hiragino;
  src: url("/hiragino-kaku-gothic-std-w8.otf") format("opentype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.font-hira {
  font-family: "Hiragino";
}

body {
  color: rgb(var(--foreground-rgb));
}

.bg-gradient {
  background: linear-gradient(
    -45deg,
    #f9c78420,
    #e7e7e720,
    #48569620,
    #fc7a1e20
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.tchik-shadow {
  box-shadow: 1px 2px 8px -4px #48569630, -1px -2px 4px -2px #e7e7e750;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-underline {
  background-size: 0% 2px;
}
.active-underline {
  color: #f86868;
}
.active-underline:hover {
  background-size: 0px 0px !important;
  cursor: default;
}

.hover-underline:hover {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.438));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease 0s;
  background-size: 100% 2px;
}

.photogram > #title {
  opacity: 0;
}
.photogram:hover > #title {
  opacity: 1;
}

.mdstyle > p > em {
  color: #71717a;
}
.mdstyle > p > a {
  color: #f86868;
}
